<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head'); %>
    <body class="vh-100 vw-100 d-flex flex-column justify-content-between">
        <%- include('./partials/header'); %>
        <main>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1 class="text-center mb-3">
                            Conflicts: <%- pagination.items %>
                        </h1>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="list-group mb-3">
                            <%
                                conflicts.forEach((conflict) => {
                                    const id = conflict.id;
                            %>
                                <a id="conflict-<%- id %>"
                                   href="/conflicts/<%- id %>"
                                   class="list-group-item list-group-item-dark list-group-item-action font-monospace"
                                >
                                    Conflict: <%- id %>
                                </a>
                            <%
                                });
                            %>
                        </div>
                        <nav aria-label="Page navigation">
                            <ul id="conflicts-pagination" class="pagination justify-content-center"></ul>
                        </nav>
                    </div>
                </div>
            </div>
        </main>
        <%- include('./partials/footer'); %>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js" integrity="sha384-Ft/vb48LwsAEtgltj7o+6vtS2esTU9PCpDqcXs4OCVQFZu5BqprHtUCZ4kjK+bpE" crossorigin="anonymous"></script>
        <%- include('./partials/scripts/general'); %>
        <script src="https://cdn.jsdelivr.net/npm/twbs-pagination@1.4.2/jquery.twbsPagination.min.js" integrity="sha384-AzpIEA+V2ntWh1KXh0Nz69l/mYOfBMOiw6lbuvWaVKYfuEooT5t5k/qyU0W0B7uk" crossorigin="anonymous"></script>
        <script>
            $('#conflicts-pagination').twbsPagination({
                visiblePages: 5,
                hideOnlyOnePage: true,
                startPage: Number(`<%- paginate.page %>`),
                totalPages: Number(`<%- pagination.pages %>`),
                first: `<i class="bi bi-chevron-double-left"></i>`,
                prev: `<i class="bi bi-chevron-left"></i>`,
                next: `<i class="bi bi-chevron-right"></i>`,
                last: `<i class="bi bi-chevron-double-right"></i>`,
                onPageClick: function (_, page) {
                    const params = new URLSearchParams(window.location.search);
                    params.set("page", page);
                    const new_path_query = `${window.location.pathname}?${params.toString()}`;
                    history.pushState(null, "", new_path_query);
                }
            });
        </script>
    </body>
</html>