<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head'); %>
    <body class="vh-100 vw-100 d-flex flex-column justify-content-between">
        <%- include('./partials/header'); %>
        <main>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1 class="text-center mb-3">Conflicts</h1>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="list-group mb-3">
                            <%
                                conflicts.forEach((conflict) => {
                                    const id = conflict.id;
                            %>
                                <a id="conflict-<%- id %>"
                                   href="/conflicts/<%- id %>"
                                   class="list-group-item list-group-item-dark list-group-item-action"
                                >
                                    Conflict: <%- id %>
                                </a>
                            <%
                                });
                            %>
                        </div>
                        <nav aria-label="Page navigation">
                            <ul id="conflicts-pagination" class="pagination justify-content-center"></ul>
                        </nav>
                    </div>
                </div>
            </div>
        </main>
        <%- include('./partials/footer'); %>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js" integrity="sha384-Ft/vb48LwsAEtgltj7o+6vtS2esTU9PCpDqcXs4OCVQFZu5BqprHtUCZ4kjK+bpE" crossorigin="anonymous"></script>
        <%- include('./partials/scripts/general'); %>
    </body>
</html>