<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head'); %>
    <body class="vh-100 vw-100 d-flex flex-column justify-content-between">
        <header></header>
        <main>
            <h1 class="text-center mb-3">
                <% if (locals.icon) { %>
                    <i class="bi <%= locals.icon %>"></i>
                <% } else { %>
                    <i class="bi bi-bug-fill"></i>
                <% } %>
                <% if (locals.title) { %>
                    <%= locals.title %>
                <% } else { %>
                    An Unexpected Error Has Occurred!
                <% } %>
            </h1>
            <%- include('./partials/home-button'); %>
        </main>
        <%- include('./partials/footer'); %>
        <%- include('./partials/scripts'); %>
    </body>
</html>