<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head'); %>
    <body class="vh-100 vw-100 d-flex flex-column justify-content-between">
        <header>
            <% if (!!reviewer.name) { %>
                <nav class="navbar bg-light">
                    <div class="container-fluid">
                        <div>
                            <i class="bi bi-person-fill"></i>
                            <span class="navbar-brand mb-0 h1">
                                <%= reviewer.name %>
                            </span>
                        </div>
                    </div>
                </nav>
            <% } %>
        </header>
        <main>
            <% if (!!reviewer.id && !!reviewer.name) { %>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label for="label-select" class="mb-2">
                                    Select Labels
                                </label>
                                <select id="label-select" class="form-select mb-2" size="10" multiple>
                                    <% labels.forEach(label => { %>
                                        <option value="<%- label.id %>"><%- label.name %></option>
                                    <% }) %>
                                </select>
                                <p class="text-center text-muted user-select-none border rounded mb-2">
                                    Hold <i class="bi bi-command"></i> to select multiple labels
                                </p>
                                <form id="label-add">
                                    <div class="input-group">
                                        <input type="text"
                                               id="label-add-input"
                                               class="form-control"
                                               placeholder="Define a new label..."
                                               aria-describedby="label-add-button"
                                               aria-label=""
                                               required
                                        />
                                        <button type="submit" id="label-add-button" class="btn btn-dark">
                                            Add!
                                        </button>
                                    </div>
                                </form>
                                <div class="toast-container position-fixed py-2">
                                    <div id="label-add-toast"
                                         class="toast align-items-center text-bg-danger border border-danger"
                                         style="width: 356px!important;"
                                         role="alert"
                                         aria-live="assertive"
                                         aria-atomic="true"
                                    >
                                        <div class="d-flex">
                                            <div class="toast-body">
                                                Label already exists!
                                            </div>
                                            <button type="button"
                                                    class="btn-close me-2 m-auto"
                                                    data-bs-dismiss="toast"
                                                    aria-label="Close"
                                            ></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% } else { %>
                <h1 class="text-center mb-3">
                    <i class="bi bi-emoji-dizzy-fill"></i>
                    You Must Log In First!
                </h1>
                <%- include('./partials/home-button'); %>
            <% } %>
        </main>
        <%- include('./partials/footer'); %>
        <%- include('./partials/scripts'); %>
        <script>
            const labelAddForm = document.getElementById("label-add");
            const labelAddInput = document.getElementById("label-add-input");
            const labelAddToast = document.getElementById("label-add-toast");

            labelAddForm.addEventListener("submit", (event) => {
                event.preventDefault();
                const label = labelAddInput.value.toLowerCase().trim();
                labelAddInput.value = null;

                axios.post("/label", { name: label })
                    .then(() => history.go())
                    .catch(() => new bootstrap.Toast(labelAddToast).show())
            })
        </script>
    </body>
</html>