<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head'); %>
    <body class="vh-100 vw-100 d-flex flex-column justify-content-between">
        <%- include('./partials/header', { reviewer: reviewer }); %>
        <main>
            <div class="container">
                <% if (!!reviewer && !!instance) { %>
                    <%
                        let task_title;
                        switch (instance.task) {
                            case "C&NL2C":
                                task_title = "Code & Natural Language to Code";
                                break;
                            case "C2NL":
                                task_title = "Code to Natural Language";
                                break;
                            default:
                                task_title = "Unknown";
                        }
                    %>
                    <div class="row">
                        <div class="col d-flex justify-content-start">
                            <h1 class="mb-3" title="<%- task_title %>">
                                <%- instance.task %>
                            </h1>
                         </div>
                        <div class="col d-flex justify-content-end">
                            <span class="mb-3 h1">
                                <%- include('./partials/instance/category-icon', { category: instance.category }); %>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <% const language = instance.task === "C&NL2C" ? "java" : "plaintext"; %>
                        <div class="col-12 col-md-6 overflow-hidden">
                            <label class="mb-2">Input Source Code</label>
                            <%-
                                include(
                                    './partials/instance/code-display',
                                    {
                                        language: "java",
                                        input: instance.input_code
                                    }
                                );
                            %>
                            <label class="mb-2">Input Comment</label>
                            <%-
                                include(
                                    './partials/instance/code-display',
                                    {
                                        language: "plaintext",
                                        input: instance.input_nl
                                    }
                                );
                            %>
                        </div>
                        <div class="col-12 col-md-6 overflow-hidden">
                            <label class="mb-2">Actual Output</label>
                            <%-
                                include(
                                    './partials/instance/code-display',
                                    {
                                        language: language,
                                        input: instance.output
                                    }
                                );
                            %>
                            <label class="mb-2">Expected Output</label>
                            <%-
                                include(
                                    './partials/instance/code-display',
                                    {
                                        language: language,
                                        input: instance.target
                                    }
                                );
                            %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-end">
                            <button type="button"
                                    class="btn btn-primary"
                                    data-bs-toggle="offcanvas"
                                    data-bs-target="#label-offcanvas"
                                    aria-controls="label-offcanvas"
                                    autofocus
                            >
                                Label
                            </button>
                        </div>
                        <div class="col text-start">
                            <button type="button"
                                    class="btn btn-danger"
                                    data-bs-toggle="offcanvas"
                                    data-bs-target="#discard-offcanvas"
                                    aria-controls="discard-offcanvas"
                            >
                                Discard
                            </button>
                        </div>
                    </div>
                    <div id="label-offcanvas"
                         class="offcanvas offcanvas-start"
                         aria-labelledby="label-offcanvas-title"
                         tabindex="-1"
                    >
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="label-offcanvas-title">Assign Labels</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
                            </button>
                        </div>
                        <div class="offcanvas-body">
                            <form id="label-add" class="mb-2">
                                <div class="input-group">
                                    <input type="text"
                                           id="label-add-input"
                                           class="form-control"
                                           placeholder="Define a new label..."
                                           aria-describedby="label-add-button"
                                           aria-label="New Label"
                                           required
                                    />
                                    <button type="submit" id="label-add-button" class="btn btn-dark">
                                        Add!
                                    </button>
                                </div>
                            </form>
                            <input type="text"
                                   id="label-filter"
                                   class="form-control mb-2"
                                   placeholder="Filter existing labels..."
                                   aria-label="Filter Labels"
                            />
                            <form id="label-instance">
                                <select id="label-instance-select"
                                        class="form-select mb-2"
                                        aria-label="Assign Labels"
                                        size="10"
                                        multiple
                                        required
                                >
                                    <% labels.forEach(label => { %>
                                        <option value="<%- label.id %>"><%- label.name %></option>
                                    <% }) %>
                                </select>
                                <p class="text-center text-muted user-select-none border rounded mb-2">
                                    Hold <i class="bi bi-command"></i> to select multiple labels
                                </p>
                                <div class="form-check mb-2">
                                    <input id="label-instance-interesting"
                                           class="form-check-input"
                                           type="checkbox"
                                           value=""
                                    />
                                    <label for="label-instance-interesting" class="form-check-label">
                                        This instance is interesting
                                    </label>
                                </div>
                                <div class="form-check mb-2">
                                    <input id="label-instance-invert"
                                           class="form-check-input"
                                           type="checkbox"
                                           value=""
                                           <%- (instance.category === "C") ? "disabled" : "" %>
                                    />
                                    <label for="label-instance-invert" class="form-check-label">
                                        This instance is actually correct
                                    </label>
                                </div>
                                <div class="form-group mb-2">
                                    <label for="label-instance-remarks">Remarks</label>
                                    <textarea id="label-instance-remarks"
                                              class="form-control"
                                              style="resize: none"
                                              rows="10"
                                    ></textarea>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary btn-lg">
                                        Label Instance!
                                    </button>
                                </div>
                            </form>
                            <%-
                                include(
                                    './partials/toast',
                                    {
                                        id: "label-add-toast",
                                        body: "Label already exists!",
                                        variant: "danger"
                                    }
                                )
                            %>
                        </div>
                    </div>
                    <div id="discard-offcanvas"
                         class="offcanvas offcanvas-end"
                         aria-labelledby="discard-offcanvas-title"
                    >
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="discard-offcanvas-title">Provide Additional Information</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
                            </button>
                        </div>
                        <div class="offcanvas-body">
                            <form id="discard-instance">
                                <div class="form-group mb-2">
                                    <label for="discard-instance-remarks">Remarks</label>
                                    <textarea id="discard-instance-remarks"
                                              class="form-control"
                                              style="resize: none"
                                              rows="10"
                                    ></textarea>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-danger btn-lg">
                                        Discard Instance!
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <%-
                        include(
                            './partials/toast',
                            {
                                id: "socket-disconnect-toast",
                                body: "Server connection lost!",
                                variant: "danger"
                            }
                        )
                    %>
                    <%-
                        include(
                            './partials/toast',
                            {
                                id: "socket-reconnect-toast",
                                body: "Server connection restored!",
                                variant: "success"
                            }
                        )
                    %>
                <% } else if (!!reviewer && !instance) { %>
                    <h1 class="text-center mb-3">
                        <i class="bi bi-emoji-smile-fill"></i>
                        Review Queue Cleared!
                    </h1>
                <% } else { %>
                    <h1 class="text-center mb-3">
                        <i class="bi bi-emoji-dizzy-fill"></i>
                        You Must Log In First!
                    </h1>
                    <%- include('./partials/home-button'); %>
                <% } %>
            </div>
        </main>
        <%- include('./partials/footer'); %>
        <%- include('./partials/scripts/general'); %>
        <%- include('./partials/scripts/hljs'); %>
        <% if (!!reviewer && !!instance) { %>
            <script src="/socket.io/socket.io.js"></script>
            <script>
                const socket = io();
                const reviewer_id = Number(`<%- reviewer.id %>`);
                const instance_id = Number(`<%- instance.id %>`);
                const labelFilter = document.getElementById("label-filter");
                const labelAddForm = document.getElementById("label-add");
                const labelAddInput = document.getElementById("label-add-input");
                const labelAddToast = document.getElementById("label-add-toast");
                const labelInstance = document.getElementById("label-instance");
                const labelInstanceSelect = document.getElementById("label-instance-select");
                const labelInstanceInteresting = document.getElementById("label-instance-interesting");
                const labelInstanceInvert = document.getElementById("label-instance-invert");
                const labelInstanceRemarks = document.getElementById("label-instance-remarks");
                const discardInstance = document.getElementById("discard-instance");
                const discardInstanceRemarks = document.getElementById("discard-instance-remarks");
                const socketDisconnectToast = document.getElementById("socket-disconnect-toast");
                const socketReconnectToast = document.getElementById("socket-reconnect-toast");

                const refresh = () => history.go();
                const toast = (element) => new bootstrap.Toast(element).show();

                const normalize = (name) => {
                    return name.replaceAll(/\s+/g, " ").toLowerCase().trim();
                };

                // TODO: Use binary search as opposed to iterating over the options
                const addOption = (label) => {
                    const created_option = new Option(label.name, label.id);
                    const existing_options = labelInstanceSelect.options;
                    for (let idx = 0; idx < existing_options.length; idx++) {
                        const current_option = existing_options.item(idx);
                        if (created_option.innerHTML < current_option.innerHTML) {
                            labelInstanceSelect.insertBefore(created_option, current_option);
                            break;
                        } else if (idx === existing_options.length - 1) {
                            labelInstanceSelect.appendChild(created_option);
                        }
                    }
                };

                // TODO: Add debounce effect so that the callback is not instant
                labelFilter.addEventListener("input", () => {
                    const search = normalize(labelFilter.value);
                    const existing_options = labelInstanceSelect.options;
                    for (let idx = 0; idx < existing_options.length; idx++) {
                        const current_option = existing_options.item(idx);
                        const current_option_classes = current_option.classList;
                        const label = current_option.innerHTML;
                        if (label.includes(search)) {
                            current_option_classes.remove("d-none");
                        } else {
                            current_option_classes.add("d-none");
                        }
                    }
                });

                labelAddForm.addEventListener("submit", (event) => {
                    event.preventDefault();
                    const name = normalize(labelAddInput.value);
                    labelAddInput.value = null;
                    axios.post("/label", { name: name })
                        .then(({ data: label }) => {
                            addOption(label);
                            socket.emit("label_added", label);
                        })
                        .catch(() => toast(labelAddToast));
                });

                labelInstance.addEventListener("submit", (event) => {
                    event.preventDefault();
                    const selected = [ ...labelInstanceSelect.selectedOptions ].map(({ value }) => Number(value));
                    const payload = {
                        instance_id: instance_id,
                        reviewer_id: reviewer_id,
                        is_interesting: labelInstanceInteresting.checked,
                        invert_category: labelInstanceInvert.checked,
                        remarks: labelInstanceRemarks.value || null,
                        label_ids: selected
                    };
                    axios.post("/instance/submit", payload).then(refresh);
                });

                discardInstance.addEventListener("submit", (event) => {
                    event.preventDefault();
                    const payload = {
                        instance_id: instance_id,
                        reviewer_id: reviewer_id,
                        remarks: discardInstanceRemarks.value || null
                    };
                    axios.post("/instance/discard", payload).then(refresh);
                });

                socket.on("label_append", (label) => addOption(label));
                socket.on("disconnect", () => toast(socketDisconnectToast));
                socket.io.on("reconnect", () => toast(socketReconnectToast));
            </script>
        <% } %>
    </body>
</html>