<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head'); %>
    <body class="vh-100 vw-100 d-flex flex-column justify-content-between">
        <header>
            <% if (!!reviewer.name) { %>
                <nav class="navbar bg-light">
                    <div class="container-fluid">
                        <div>
                            <i class="bi bi-person-fill"></i>
                            <span class="navbar-brand mb-0 h1">
                                <%= reviewer.name %>
                            </span>
                        </div>
                    </div>
                </nav>
            <% } %>
        </header>
        <main>
            <% if (!!reviewer.id && !!reviewer.name) { %>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label for="label-select" class="mb-2">
                                    Select Labels
                                </label>
                                <select id="label-select" class="form-select mb-2" size="10" multiple>
                                    <% labels.forEach(label => { %>
                                        <option value="<%- label.id %>"><%- label.name %></option>
                                    <% }) %>
                                </select>
                                <p class="text-center text-muted user-select-none border rounded">
                                    Hold <i class="bi bi-command"></i> to select multiple labels
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            <% } else { %>
                <h1 class="text-center mb-3">
                    <i class="bi bi-emoji-dizzy-fill"></i>
                    You Must Log In First!
                </h1>
                <div class="d-flex justify-content-center">
                    <a href="/">
                        <button type="button" class="btn btn-dark">Take Me Back!</button>
                    </a>
                </div>
            <% } %>
        </main>
        <%- include('./partials/footer'); %>
        <%- include('./partials/scripts'); %>
    </body>
</html>